.loader{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;

}

.loader__img {
    width: 8vw;
    height: 8vw;
    min-width: 5vw;
    min-height: 5vw;
    animation: spin 1s infinite linear;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 